{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>أبو يحيى لتصنيع الأثاث</title>
    
    <link rel="icon" type="image/png" href="https://img.icons8.com/ios-filled/50/c5a059/crown.png">

    <meta name="description" content="أبو يحيى لتصنيع الأثاث - فخامة التصميم وجودة التصنيع">

    </head>
<body>
    {% include 'navbar.html' %}

    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
</body>
</html>